:root{
  --main-color: #023047;
  --secondary-color: #FFB703;
  --third-color: #Fb8500;
  --fourth-color: #8ECAE6;
  --fifth-color: #219EBC;
}

*{
  background-color: var(--main-color);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  color:var(--fifth-color)
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header {
color: var(--fourth-color);
font-size: 1rem;
text-align: center;
}

.btn {
  background-color: var(--main-color);
  color: var(--third-color);
  border:0;
}
:hover .btn {
  cursor: pointer;
}
:active a {
  color: (--third-color);
}
.navActive { 
  color: var(--secondary-color);
}

@media screen and (min-width:980px){
 
}